
<div class="fullPage import">

  <div class="row">

    <!-- Choose model card -->
    <div class="col-12 mt-spacing">
      <mat-card class="pb-1">
        <mat-card-content>

          <div class="d-flex justify-content-between mb-2 align-items-center">
            <h4 class="my-0 fw-bold">Model</h4>
          </div>

          <mat-form-field class="w-100 standalone-field">
            <span
              matPrefix
              class="d-flex flex-nowrap align-items-center justify-content-between me-2">
              <mat-icon>filter_list</mat-icon>
              <span class="text-muted ms-1">|</span>
            </span>
            <mat-select
              [(ngModel)]="model"
              matTooltip="Choose model to import to">
              <mat-option
                *ngFor="let idx of models"
                [value]="idx.type">{{idx.type}}</mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>

    <!-- Import card -->
    <div class="col-12 mt-spacing" *ngIf="model">

      <mat-card class="h-100">
        <mat-card-content>

          <mat-tab-group
            mat-stretch-tabs
            dynamicHeight
            animationDuration="0ms">

            <mat-tab>

              <ng-template mat-tab-label>
                Crawl website
              </ng-template>

              <form (ngSubmit)="importUrl()" class="row">

                <div class="col-12">

                  <p class="text-muted text-small mb-3 mt-4">
                    Crawl and scrape the specified website for training data
                  </p>

                  <mat-form-field class="standalone-field w-100">
                    <span
                      matPrefix
                      matTooltip="Root URL to crawl for training data"
                      class="d-flex flex-nowrap align-items-center justify-content-between me-2">
                      <mat-icon>http</mat-icon>
                      <span class="text-muted">|</span>
                    </span>
                    <input
                      matInput
                      placeholder="Website URL"
                      [disabled]="uploading"
                      [(ngModel)]="url"
                      [pattern]="CommonRegEx.domain"
                      name="url"
                      autocomplete="off">
                      <mat-error>{{CommonErrorMessages.domain}}</mat-error>
                  </mat-form-field>
              
                </div>
            
                <div class="col-12">
            
                  <div class="d-flex justify-content-md-between align-items-md-baseline align-items-end flex-md-row w-100">
            
                    <mat-form-field class="standalone-field me-2 w-100">
                      <span
                        matPrefix
                        matTooltip="Delay in seconds between pages"
                        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
                        <mat-icon>hourglass_empty</mat-icon>
                        <span class="text-muted">|</span>
                      </span>
                      <input
                        matInput
                        placeholder="Delay"
                        [(ngModel)]="delay"
                        [disabled]="uploading"
                        type="number"
                        min="1"
                        max="30"
                        step="1"
                        name="delay"
                        autocomplete="off">
                    </mat-form-field>
            
                    <mat-form-field class="standalone-field me-2 w-100">
                      <span
                        matPrefix
                        matTooltip="Maximum number of URLs to crawl"
                        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
                        <mat-icon>exit_to_app</mat-icon>
                        <span class="text-muted">|</span>
                      </span>
                      <input
                        matInput
                        placeholder="Max URLs"
                        [disabled]="uploading"
                        [(ngModel)]="max"
                        type="number"
                        min="1"
                        max="5000"
                        step="1"
                        name="max"
                        autocomplete="off">
                    </mat-form-field>
            
                    <mat-form-field class="standalone-field me-2 w-100">
                      <span
                        matPrefix
                        matTooltip="Minimum character count for completions"
                        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
                        <mat-icon>timeline</mat-icon>
                        <span class="text-muted">|</span>
                      </span>
                      <input
                        matInput
                        placeholder="Text length threshold"
                        [(ngModel)]="threshold"
                        [disabled]="uploading"
                        type="number"
                        min="25"
                        max="500"
                        step="25"
                        name="threshold"
                        autocomplete="off">
                    </mat-form-field>
            
                    <button
                      class="px-3"
                      [disabled]="uploading"
                      color="primary"
                      mat-flat-button>
                      Start
                    </button>
            
                  </div>
              
                </div>
            
              </form>

            </mat-tab>

            <mat-tab>

              <ng-template mat-tab-label>
                Import structured files
              </ng-template>

              <div class="col-12">
    
                <p class="text-muted text-small mb-3 mt-4">
                  Upload XML, YAML, JSON or CSV training data files
                </p>
    
              </div>
    
              <div class="col-12 d-flex justify-content-md-between align-items-md-center align-items-end flex-md-row">
    
                <mat-form-field class="w-100 standalone-field me-2">
                  <span
                    matPrefix
                    matTooltip="Prompt field"
                    class="d-flex flex-nowrap align-items-center justify-content-between me-2">
                    <mat-icon>help_outline</mat-icon>
                    <span class="text-muted">|</span>
                  </span>
                  <input
                    matInput
                    placeholder="Prompt field"
                    [disabled]="uploading"
                    [(ngModel)]="prompt"
                    autocomplete="off">
                </mat-form-field>
            
                <mat-form-field class="w-100 standalone-field">
                  <span
                    matPrefix
                    matTooltip="Completion field"
                    class="d-flex flex-nowrap align-items-center justify-content-between me-2">
                    <mat-icon>edit</mat-icon>
                    <span class="text-muted">|</span>
                  </span>
                  <input
                    matInput
                    placeholder="Completion field"
                    [disabled]="uploading"
                    [(ngModel)]="completion"
                    autocomplete="off">
                </mat-form-field>
          
              </div>
          
              <div class="col-12 mt-2">
            
                <div class="drop-container pointer border-color">
          
                  <input
                    type="file"
                    [(ngModel)]="trainingFileModel"
                    name="trainingFileModel"
                    class="w-100 h-100 hide pointer"
                    [disabled]="uploading"
                    #upload
                    multiple
                    (change)="getFile($event)"
                    accept=".csv,.xml,.yaml,.yml,.json">
          
                  <button
                    mat-button
                    class="w-100"
                    (click)="upload.click()"
                    [disabled]="uploading"
                    *ngIf="trainingFileModel === ''"
                    [disabled]="uploading">
                    <i class="d-sm-inline d-none text-muted">
                      Drag & drop your training data files here, CSV, XML, JSON or YAML
                    </i>
                    <br />
                    <span class="text-primary">Choose files</span>
                  </button>
          
                  <ng-container *ngIf="trainingFileModel !== ''">
                    <h4 class="my-0">{{getFileName()}}</h4>
                    <p class="text-center mt-3" *ngIf="uploading">Uploading {{uploadIndex + 1}} of {{files.length}}...</p>
                    <p class="text-center mt-3" *ngIf="!uploading">Done!</p>
                  </ng-container>
          
                </div>
    
              </div>
    
            </mat-tab>
        
            <mat-tab>

              <ng-template mat-tab-label>
                Import PDF files
              </ng-template>

              <div class="col-12">
    
                <p class="text-muted text-small mb-3 mt-4">
                  Upload PDF training data files
                </p>
    
              </div>
    
              <div class="col-12 d-flex justify-content-md-between align-items-md-center align-items-end flex-md-row">
            
                <mat-form-field class="w-100 standalone-field">
                  <span
                    matPrefix
                    matTooltip="Massage value used to modify content"
                    class="d-flex flex-nowrap align-items-center justify-content-between me-2">
                    <mat-icon>edit</mat-icon>
                    <span class="text-muted">|</span>
                  </span>
                  <input
                    matInput
                    placeholder="Massage value"
                    [disabled]="uploading"
                    [(ngModel)]="massage"
                    autocomplete="off">
                </mat-form-field>
          
              </div>
          
              <div class="col-12 mt-2">
            
                <div class="drop-container pointer border-color">
          
                  <input
                    type="file"
                    [(ngModel)]="trainingFileModelPdf"
                    name="trainingFileModelPdf"
                    class="w-100 h-100 hide pointer"
                    [disabled]="uploading"
                    #uploadPdf
                    multiple
                    (change)="getFilePdf($event)"
                    accept=".csv,.xml,.yaml,.yml,.json,.pdf">
          
                  <button
                    mat-button
                    class="w-100"
                    (click)="uploadPdf.click()"
                    [disabled]="uploading"
                    *ngIf="trainingFileModelPdf === ''"
                    [disabled]="uploading">
                    <i class="d-sm-inline d-none text-muted">
                      Drag & drop your PDF training data files here
                    </i>
                    <br />
                    <span class="text-primary">Choose files</span>
                  </button>
          
                  <ng-container *ngIf="trainingFileModelPdf !== ''">
                    <h4 class="my-0">{{getFileName()}}</h4>
                    <p class="text-center mt-3" *ngIf="uploading">Uploading {{uploadIndex + 1}} of {{files.length}}...</p>
                    <p class="text-center mt-3" *ngIf="!uploading">Done!</p>
                  </ng-container>
          
                </div>
    
              </div>
    
            </mat-tab>

          </mat-tab-group>
        
        </mat-card-content>
      </mat-card>

    </div>

    <div class="col-12 mt-spacing" *ngIf="showCrawler">

      <mat-card class="h-100">
        <mat-card-content>

          <div class="d-flex justify-content-between mb-4 align-items-center">
            <h4 class="my-0 fw-bold">Crawling</h4>
          </div>

          <div class="col-12">

            <p class="text-muted text-small mb-3">
              Crawling {{url}} to create machine learning model, please wait
            </p>

          </div>

          <div class="row" class="mt-4 mb-3 messages">

            <div
              *ngFor="let idx of messages; index as i"
              [class]="'msg ' + idx.type"
              [id]="'m_' + i">{{idx.message}}</div>
      
          </div>

          <div class="text-end">

            <button
              mat-button
              (click)="closeCrawler()">
              Close
            </button>

          </div>
      
        </mat-card-content>

      </mat-card>

    </div>

  </div>

</div>
